:5353 {
        handle /dns-quer* {
                reverse_proxy 127.0.0.1:8053
        }

        handle /resolv* {
                reverse_proxy 127.0.0.1:3053  127.0.0.1:4053  127.0.0.1:5053
        }

        handle {
                # Fallback for anything not otherwise handled
respond "Hello, world!"
        }
}
